.gradle
.idea
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/run/
run/config/fabric/indigo-renderer.properties
run/config/fabric/indigo-renderer.properties
.idea/modules/Aurysabyss.test.iml
.idea/modules/Aurysabyss.main.iml
.idea/modules/Aurysabyss.main.iml
.idea/modules/Aurysabyss.test.iml
